nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #FFFFFF;
    z-index: 10000;
    transition: 0.5s;
}

.navbar{
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    transition: 0.5s;
}

.navbar-shrink {
	padding-top: 30px;
	padding-bottom: 30px;
}

.navbar-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transition: 0.5s;
}

.close, .hamburger{
    display: none;
}

.navbar-items li a{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
}

.navbar-btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-btns button{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0B132A;
    background-color: transparent;
}

.navbar-btns li button.active{
    margin: 0 25px;
    padding: 13px 26px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F53855;
    border: 1px solid #F53855;
    border-radius: 50px;
    transition: 0.5s;
}

.navbar-btns button.active:hover{
    background-color: #F53838;
    color: #FFFFFF;
}

.dark-light img{
    width: 40px;
}

#home{
    transition: 0.5s;
}

.home-section{
    /* margin-top: 200px; */
    margin-top: 120px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
}

.home__title h1{
    max-width: 555px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
}

.home__title p{
    max-width: 555px;
    margin-top: 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-bottom: 50px;
}

.home__btn button{
    padding: 17px 77px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    background: #F53838;
    border-radius: 10px;
    box-shadow: 0 25px 27px 0 rgba(245, 56, 56, 0.35);
}

.home-right img{
    width: 100%;
}

/* About Us Section */

#about{
    /* margin-top: 100px;
    margin-bottom: 100px; */
    padding-top: 100px;
    padding-bottom: 100px;
    transition: 0.5s;
}

.about{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 68px 0;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 15px 57px 0 rgba(13, 16, 37, 0.3);
    transition: 0.5s;
}

.about-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.about-card.active{
    border-right: 2px solid #EEEFF2;
}

.about-card__title p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
    margin-bottom: 5px;
}

.about-card__title span{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
}

/* Features Section */

#features{
    /* margin-top: 100px; */
    padding-top: 100px;
    transition: 0.5s;
}

.features{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 170px;
}

.feature-left img{
    width: 100%;
}

.feature__title h1{
    max-width: 383.41px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    margin-bottom: 20px;
}

.feature__title p{
    max-width: 427px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-bottom: 20px;
}

.option{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.option p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}

/* Pricing Section */

#pricing{
    /* margin-top: 120px; */
    padding-top: 120px;
    transition: 0.5s;
}

.pricing__title h1{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
}

.pricing__title p{
    padding: 20px 0 60px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}

.pricing-cards{
    display: flex;
    justify-content: space-between;
}

.pricing-card{
    padding: 80px 70px;
    text-align: center;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.pricing-card:hover{
    border: 2px solid #F53838;
}

.pricing-card h2{
    padding: 30px 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
}

.pricing__option{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}

.pricing__option p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}

.pricing-card > p{
    margin-top: 130px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
    margin-bottom: 20px;
}

.pricing-card button{
    padding: 13px 60px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #F53838;
    background: transparent;
    border: 1px solid #F53838;
    border-radius: 50px;
    transition: 0.5s;
}

.pricing-card button:hover{
    background-color: #F53838;
    color: #FFFFFF;
}


/* Partners Section */

#partners{
    transition: 0.5s;
}

.partners__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partners__title h1{
    margin-top: 150px;
    max-width: 383px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
}

.partners__title p{
    margin-top: 20px;
    max-width: 555px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    margin-bottom: 150px;
}

.partners__map img{
    width: 100%;
}

.partners{
    margin-top: 7px;
    display: flex;  
    justify-content: space-between;
}

.partners img{
    cursor: pointer;
}


/* Customers Section */

#customers{
    /* margin-top: 50px; */
    /* margin-bottom: 100px;  */
    padding-top: 50px;
    padding-bottom: 50px;
    transition: 0.5s
}

.customer__title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer__title h1{
    max-width: 447.81px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
}

.customer__title p{
    margin-top: 20px;
    max-width: 555px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    margin-bottom: 60px;
}

.item{
    padding: 30px;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: 0.5s;
}

.item:hover{
    border: 2px solid #F53838;
}

.item > p{
    margin-top: 8px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #0B132A;
}

.about-person{
    display: flex;
    align-items: center;
    gap: 20px;
}

.person__description{
    display: flex;
    align-items: center;
}

.person__rating{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 30px;
}

.person__rating i{
    margin-top: -3px;
    color: #FEA250;;
}

.person__rating p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #0B132A;
}

.person__country h2{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0B132A;
}

.person__country p{
    margin-top: -10px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #4F5665;
}

.item > p.active{
    margin-top: 20px;
    margin-bottom: 78px;
}

.item > p.activeHov{
    margin-top: 10px;
    margin-bottom: 28px;
}

.owl-theme .owl-dots{
    position: absolute;
}

.owl-theme .owl-dots span{
    transition: 0.5s !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #F53838 !important;
    width: 25px;
}   

/* Subscribe Section */

#subscribe{
    position: relative;
    bottom: -120px;
    margin-top: 80px;
    transition: 0.5s;
}

.dark #subscribe{
    position: static;
    margin-top: -70px;
}

.subscribe{
    margin-top: 70px;
    padding: 60px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border-radius: 10px;
    transition: 0.5s;
}

.subscribe-left h1{
    max-width: 371px;
    margin-bottom: 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    display: flex;
    align-items: center;
    color: #0B132A;
}

.subscribe-left p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #4F5665;
}

.subscribe-right button{
    padding: 17px 65px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    background: #F53838;
    border-radius: 10px;
    box-shadow: 0 25px 27px 0 rgba(245, 56, 56, 0.35);
}

/* Footer */

footer{
    padding: 180px 0 50px;
    background: #F8F8F8;
    transition: 0.5s;
}

.dark footer{
    padding-top: 100px;
}

.footer{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    justify-content: space-between;
}

.footer__socials h2{
    margin-top: 20px;
    max-width: 340px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-bottom: 30px;
}

.social-media{
    display: flex;
    gap: 10px;
}

.social-media i{
    padding: 15px;
    font-size: 20px;
    margin-right: 10px;
    color: #F53838;
    box-shadow: 0px 13px 18px rgba(17, 19, 35, 0.08);
    background-color: #FFFFFF;
    border-radius: 50%;
}

.footer__socials p{
    margin-top: 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #AFB5C0;
}

.footer h1{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
    margin-bottom: 20px;
}

.footer p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-bottom: 10px;
}